body {
    background: rgb(33, 30, 54);
    font-family: serif;
}
#container {
    width: 500px;
    margin: 100px auto;
    text-align: center;
}
h1 {
    color: rgb(109, 138, 188);
    background-color: rgb(33, 30, 54);
    font-size: 24px;
    border-style: solid solid solid solid;
    border-color: white;
    margin: 0;
    padding: 10px 20px;
    text-align: center;
}
.fa-eye-slash {
    float: right;
    color: rgb(109, 138, 188);
    cursor: pointer;
}
.fa-eye-slash:hover {
    color: white;
}
input {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    margin-right: 10px;
    font-size: 1rem;
    text-align: center;
}
input:focus{
	background: #fff;
	border: 3px solid rgb(109, 138, 188);
	outline: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}
li {
    background-color: white;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
li:hover span {
	width: 40px;
	opacity: 1.0;
}
span {
	background: rgb(109, 138, 188);
	height: 40px;
    float: right;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}
.completed {
    text-decoration: line-through;
}